<?xml version="1.0" encoding="utf-8"?>
<JMSMLConfig xmlns="http://esri.com/jmsmlConfig.xsd"
             LibraryPath="..\..\..\..\..\instance"
             LibraryName="jmsml_D_Base.xml">
  <ETLConfig DomainSeparator=" : " PointSize="32" SVGHome ="..\..\..\..\..\svg\MIL_STD_2525D_Symbols" GraphicRoot="{Symbols_Root}" GraphicHome="path_that_equates_to_your_{Symbols_Root}_goes_here" GraphicExtension="emf">
    <GraphicFolder Name="Amplifier" Mobilities="true" AuxiliaryEquipment="true"/>
    <GraphicFolder Name="Appendices" Entities="SS_INTERNAL">
      <GraphicFolder Name="Activities" Entities="SS_ACTIVITY">
        <GraphicFolder Name="mod1" ModifierOnes="SS_ACTIVITY"/>
      </GraphicFolder>
      <GraphicFolder Name="Air" Entities="SS_AIR SS_AIR_MISSILE">
        <GraphicFolder Name="mod1" ModifierOnes="SS_AIR SS_AIR_MISSILE"/>
        <GraphicFolder Name="mod2" ModifierTwos="SS_AIR SS_AIR_MISSILE"/>
      </GraphicFolder>
      <GraphicFolder Name="ControlMeasures" Entities="SS_CONTROL_MEASURE"/>
      <GraphicFolder Name="Cyberspace" Entities="SS_CYBERSPACE"/>
      <GraphicFolder Name="Land" Entities="SS_LAND_UNIT SS_LAND_EQUIPMENT SS_LAND_INSTALLATION SS_LAND_CIVILIAN" Specials="true">
        <GraphicFolder Name="mod1" ModifierOnes="SS_LAND_UNIT SS_LAND_EQUIPMENT SS_LAND_INSTALLATION SS_LAND_CIVILIAN"/>
        <GraphicFolder Name="mod2" ModifierTwos="SS_LAND_UNIT SS_LAND_EQUIPMENT SS_LAND_INSTALLATION SS_LAND_CIVILIAN"/>
      </GraphicFolder>
      <GraphicFolder Name="METOC">
        <GraphicFolder Name="Atmospheric" Entities="SS_ATMOSPHERIC"/>
        <GraphicFolder Name="Oceanographic" Entities="SS_OCEANIC"/>
        <GraphicFolder Name="Space" Entities="SS_MET_SPACE"/>
      </GraphicFolder>
      <GraphicFolder Name="SeaSurface" Entities="SS_SEA_SURFACE">
        <GraphicFolder Name="mod1" ModifierOnes="SS_SEA_SURFACE"/>
        <GraphicFolder Name="mod2" ModifierTwos="SS_SEA_SURFACE"/>
      </GraphicFolder>
      <GraphicFolder Name="SigInt" Entities="SS_SIGINT_LAND SS_SIGINT_SURFACE SS_SIGINT_SUBSURFACE SS_SIGINT_AIR SS_SIGINT_SPACE">
        <GraphicFolder Name="mod1" ModifierOnes="SS_SIGINT_LAND SS_SIGINT_SURFACE SS_SIGINT_SUBSURFACE SS_SIGINT_AIR SS_SIGINT_SPACE"/>
      </GraphicFolder>
      <GraphicFolder Name="Space" Entities="SS_SPACE SS_SPACE_MISSILE">
        <GraphicFolder Name="mod1" ModifierOnes="SS_SPACE SS_SPACE_MISSILE"/>
        <GraphicFolder Name="mod2" ModifierTwos="SS_SPACE SS_SPACE_MISSILE"/>
      </GraphicFolder>
      <GraphicFolder Name="Subsurface" Entities="SS_SEA_SUBSURFACE SS_MINE_WARFARE">
        <GraphicFolder Name="mod1" ModifierOnes="SS_SEA_SUBSURFACE SS_MINE_WARFARE"/>
        <GraphicFolder Name="mod2" ModifierTwos="SS_SEA_SUBSURFACE SS_MINE_WARFARE"/>
      </GraphicFolder>
    </GraphicFolder>
    <GraphicFolder Name="Echelon" Echelons="true"/>
    <GraphicFolder Name="Frames" Frames="REALITY">
      <GraphicFolder Name="Exercise" Frames="EXERCISE"/>
      <GraphicFolder Name="Sim" Frames="SIMULATION"/>
    </GraphicFolder>
    <GraphicFolder Name="HQTFFD" HQTFFD="true"/>
  </ETLConfig>
</JMSMLConfig>