<?xml version="1.0" encoding="utf-8"?>
<jmsmlConfig xmlns="http://esri.com/jmsmlConfig.xsd" 
             libraryPath="C:/Users/andy750/Documents/GitHub/joint-military-symbology-xml/instance"
             libraryName="2525D_Base.xml" 
             graphicPath="C:/Users/andy750/Documents/GitHub/joint-military-symbology-xml/instance/graphics"/>